<!-- <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- message %>

<% if (errors) { %>
    <ul class="notice">
        <errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>

<form action="/account/register" method="post">
    <fieldset>
        <legend>Register</legend>
        <label>First name<input type="text" id="fname" name="account_firstname" required></label>
        <label>Last name<input type="text" id="lname" name="account_lastname" required></label>
        <label>Email: <input type="email" id="email" name="account_email" 
            required></label>
        <label>Password: <input type="password" id="password" name="account_password" required pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12.}$"></label>
        <div><p>There must be at least 12 characters, one must be a number, one must be a lowercase letter, one must be a capital, adn one must be a non-alphanumeric character</p></div>
        <input type="submit" value="Register">

    </fieldset>
</form> -->