<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- message %>

<form action="/account/register" method="post">
    <fieldset>
        <legend>Register</legend>
        <label>First name<input type="text" id="fname" name="account_firstname" required></label>
        <label>Last name<input type="text" id="lname" name="account_lastname" required></label>
        <label>Email: <input type="email" id="email" name="account_email" 
            required></label>
        <label>Password: <input type="password" id="password" name="account_password" required pattern="[A-Za-z,0-9].{12,}></label>
        <input type="submit" value="Register">

    </fieldset>
</form>