/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  align-content: space-around;
  background: black;
  color: white;
}

body {
  background-image: url("images/site/checkerboard.jpg");
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  position: relative;
  border: 1px solid black;
  width: 80%;
}

.hero img {
  width: 100%;
  height: auto;
  object-fit: cover;

}

#features {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  top: 150px;
  left: 10px;
  background: rgb(240, 240, 240, 0.7);
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  flex-wrap: wrap;
  padding: 20px;
  width: 50%;
}

upgrades h3 {
  width: 100%;
  grid-column: 1/ span 2;
  ;
}

.upgrades div {
  width: 50%;
  margin-top: 10px;
}

.reviews {
  border: 1px solid black;
  font-size: large;
  padding: 10px;
  width: 50%;
}

.reviews li {
  padding-top: 5px;
}

figure {
  align-items: center;
  width: 50%;
}

.upgrades img {
  
  border: 1px solid black;
  background: yellow;
  padding: 10px;
}

#content {
  display: flex;
  flex-direction: row;
  width: 80%;
}