/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("/images/site/checkerboard.jpg");
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 90%;
  border: 1px solid blue;
  background: white;
}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

.siteName {
  font-size: 3rem;
  padding: 10px;
}

#tools {
  font-size: 2.5rem;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  justify-content: space-around;
}
nav ul {
  display: flex;
  flex-direction: row;

}
nav ul li {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem;
}



.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  position: relative;
  border: 1px solid black;
  width: 80%;
}

.hero img {
  width: 100%;
  height: auto;
}

.hero div {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  top: 50%;
  left: 10px;
  background: rgb(240, 240, 240, 0.7);
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  flex-wrap: wrap;
  padding: 20px;
  width: 50%;
}

.upgrades h3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 1 / span 2;
  justify-content: center;
}

.reviews {
  border: 1px solid black;
  font-size: large;
  padding: 10px;
  width: 50%;
}

.reviews li {
  padding-top: 5px;
}

.upgrades div {
  align-items: center;
  width: 50%;
}

.upgrades img {
  border: 1px solid black;
  background: yellow;
  padding: .5rem;
}

#content {
  display: flex;
  flex-direction: row;
  width: 80%;
}

@media (max-width: 700px) {
#content {
  flex-direction: column;

}

.upgrades {
  width: 100%;
}

.reviews {
  width: 100%;
}
}