/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --text: #008bee;
  --background: #eee;
  --border: rgb(113, 112, 112)
}

h1 {
  text-align: center;
}

h1, h2, div, p {
  background: white;
}

ul, li, h1 {
  list-style-type: none;
  padding: 5px;
  background: var(--background);
}

#inv-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#inv-display li {
  border: 1px solid black;
}

body {
  background-image: url("/images/site/checkerboard.jpg");
  display: flex;
  justify-content: center;
}

#wrapper {
  width: 90%;
  border: 2px solid yellow;
  background: white;
  max-height: 20px;

}

#top-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: white;
}

.siteName {
  font-size: 3rem;
  padding: 10px;
}

#tools {
  font-size: 2.5rem;
  padding: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  background: black;
  color: white;
  justify-content: space-around;
}

nav ul {
  display: flex;
  flex-direction: row;
  background: yellow;
}

nav ul li {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  text-decoration: none;
  padding: .5rem;
}

.home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hero {
  position: relative;
  border: 1px solid black;
  width: 80%;
}

.hero img {
  width: 100%;
  height: auto;
}

#features {
  position: absolute;
  border: 1px solid black;
  padding: 10px;
  top: 50%;
  left: 10px;
  background: rgb(240, 240, 240, 0.7);
}

.upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid black;
  padding: 20px;
  width: 50%;
  background: white;

}

.upgrades h3 {
  display: grid;
  grid-template-columns: auto auto;
  grid-column: 1 / span 2;
  justify-content: center;
}

.upgrades div {
  align-items: center;
  width: 50%;
}

.upgrades img {
  border: 1px solid black;
  background: yellow;
  padding: .5rem;
}

.reviews {
  border: 1px solid black;
  font-size: large;
  padding: 10px;
  width: 50%;
  background: white;

}

.reviews li {
  padding-top: 5px;
}

h2 {
  margin: 3rem;
}

#content {
  display: flex;
  flex-direction: row;
  width: 80%;
}

#item-display li {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.details {
  border: 1px solid black;
  padding: 5px;
  margin-top: 3px;
}

.invManage {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding-left: 5rem;
}

.form fieldset {
  margin: 2rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: .5rem 2%;
  background: var(--background);
}

.form legend {
  color: var(--text);
  padding: 0 .5rem;
}

.form label {
  display: block;
  padding-top: 1rem;
  font-size: .9rem;
}

.form div {
  padding-top: 1rem;
  color: var(--text);
  font-size: .9rem;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="number"] {
  display: block;
  border: solid 1px var(--border);
  border-radius: 6px;
  background-color: var(--background);
  padding: .75rem;
  width: 100%;
  max-width: 400px;
}

.form input[type=submit] {
  background-image: linear-gradient(blue, rgb(119, 119, 244));
  color: white;
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  /* margin: -1rem 2% 2rem 2%; */
}

#inv-display {
  background: white;
}

#inventoryDisplay {
  border: 1px solid black;
  margin: 10px;
}

#inventoryDisplay td {
  border: 1px solid black;
  padding: 1px;
}

.notice {
  background: white;
}

.accountManagement a {
  font-size: large;
  padding-left: 3rem;
  margin-bottom: 10rem;
}

@media (max-width: 700px) {
#content {
  flex-direction: column;

}

.upgrades {
  width: 100%;
}

.reviews {
  width: 100%;
}

#wrapper {
  width: 100%;
}  

.hero {
  position: relative;
  border: 1px solid black;
  width: 100%;
}

#content {
  width: 100%;
}

fieldset {
  margin: 2rem;
  border: 1px solid var(--border);
  border-radius: 6px;
  padding: .5rem 2%;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  padding-top: 1rem;
  font-size: .9rem;
}

input[type="password"],
input[type="email"]{
  display: block;
  border: solid 1px var(--border);
  border-radius: 6px;
  background-color: var(--background);
  padding: .75rem;
  width: 100%;
  max-width: 400px;
}

input[type=submit] {
  background-image: linear-gradient(blue, rgb(119, 119, 244));
  color: white;
  border-radius: 6px;
  padding: .8rem;
  width: 96%;
  max-width: 400px;
  margin: -1rem 2% 2rem 2%;
}

input:required {
  border-right: solid 8px red;
}

input:required:valid {
  border-right: solid 8px green;
}
}