<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<form class="form" id="add-classification" action="add-classification" method="post">
    <fieldset>
        <label>Classification Name: <input type="text" id="addClassification" name="classification_name" title="Names cannot contain a space or special character." pattern="[A-Za-z]+"></label>
        <p>Classification names cannot contain a space or special character</p>
        <input type="submit" value="Add Entry">
    </fieldset>
</form>