<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- message %>

<form id="add-classification" action="add-classification.ejs" method="post">
    <fieldset>
        <label>Classification Name: <input type="text" id="addClassification" name="inv_classification" title="Names cannot contain a space or special character." pattern="[A-Za-z]+"</label>
    </fieldset>
</form>