<!-- ***********************
 * Build Content Heading
 * ************************ -->
 <% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <!-- Build Message Block -->
  
  <%- messages() %>

  <!-- Build Item display-->
  <%- item %>