<!-- ***********************
 * Build Content Heading
 * ************************ -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<!-- Build Message Block -->

<%- messages() %>

<!-- Build Item display-->
<%- item %>

<div class="review">
  <h2>Customer Reviews</h2>
<%- reviews %>

  <form action="/inv/write-review" class="form">
    <input type="submit" value="Leave A Review Here">
  </form>
</div>