<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<a href="./inventory/add-classification" title="Name of new classification">Click here to add a new classification</a>
<a href="./inventory/add-inventory" title="Add new inventory">Click here to add new inventory</a>
