<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  
  <!-- Build Message Block -->
  
  <%- messages() %>
  
  
<form class="form" id="reviewForm" action="/inv/detail" method="post">
    <fieldset>
        <legend>Leave a review</legend>
        <label>Review Text: <input type="text" id="review_text" name="review_text" required></label>
        <input type="hidden" value="' + reviewData.inv_id + '">
        <input type="hidden" value="' + reviewData.account_id + '">
        <input type="submit" value="Leave Review">
    </fieldset>
</form>